/Debug/*
/Release/*
*.sdf
*.suo
*.aps
/ipch/*
/bin/Enable40.dll
/bin/SPR32D80.DLL
/bin/TestOlrxAPI.exe
/bin/TestOlrxAPI.pdb
/bin/aspenedb.dll
/bin/borlndmm.dll
/bin/dscurve16o.dll
/bin/hasp_rt.exe
/bin/midas.dll
/bin/olrxapi.dll
/bin/olrxapi.exp
/bin/olrxapi.ilk
/bin/olrxapi.pdb
/bin/rdb1l2.dll
/binV14*
/bin/TestOlxAPI.exe
/bin/TestOlxAPI.pdb
/bin/dscurve16x.dll
/bin/olxapi.exp
/bin/olxapi.pdb
*.ilk
